.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #282c34 ,black);
}

.header {
  background-image: linear-gradient(to bottom right, #282c34 ,black);
}

/*.App-header {
  background-image: linear-gradient(to bottom right, #282c34 ,black);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}


.fixed-header {
  width: 100%;
  position: fixed;
  background-color: white;       
  top: 0;
}

.desktop-header {
  width: 100%;
  position: fixed;
  background-color: white;       
  top: 0;
}

.fixed-footer {
  width: 100%;
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: white;       
  bottom: 0;
}

.icon {
  background-image: linear-gradient(to bottom right, #282c34 ,black);  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh
}

/*.icon {
  transform: rotate(360deg);
  transition: 300ms transform;
}

.icon.selected {
  animation: spin 300ms;
  transform: rotate(180deg);
}*/

.spinner {
  /*display: flex;*/
  text-align: center;
  padding-top: 200px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(180deg);
  }
}

.desktop-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #282c34 ,black);
} 

.mobile-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #282c34 ,black);  
} 

.desktop-panel-left {
  background-image: linear-gradient(to bottom right, #282c34 ,black);  

}




